# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/frontend
/node_modules
/.vscode
.env
build/asset-manifest.json
build/carsbnb.png
build/index.html
build/manifest.json
build/robots.txt
build/static/css/main.6b4cc2c3.css
build/static/css/main.6b4cc2c3.css.map
build/static/js/main.182e0864.js
build/static/js/main.182e0864.js.LICENSE.txt
build/static/js/main.182e0864.js.map
build/static/media/bg3.2cd13449eb8e7e2539a5.jpg
