.head-div{
    min-height: calc(100vh - 56px);
    background-image: url('../assets/cars_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.75);
    text-align: center;  
}

.head-div > h1 {
    font-weight: bold;
    text-transform: uppercase;
}